/* vim:ft=css */
configuration {
    modi: "window,drun,run,ssh";
    width: 900;
    lines: 15;
    columns: 1;
    font: "JetBrains Mono 13";
    bw: 1;

    show-icons: true;
    terminal: "alacritty";
    drun-match-fields: "name,generic,exec,categories";
    levenshtein-sort: true;
    sidebar-mode: true;
    combi-modi: "drun,run,ssh";
    matching: "fuzzy";
    combi-hide-mode-prefix: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
